.filter-container {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  padding: 1rem 0;
}
.filter-container.isIngredientHidden {
  display: none !important;
}

.filter-container .spinner-container {
  width: 100%;
  height: 200px;
}

.filter-container .list-item > .ant-tag-checkable {
  display: flex;
  align-items: center;
  gap: 6px;
  text-transform: capitalize;
  font-size: 13px;
  border-color: rgb(27, 144, 255);
  background-color: rgb(255, 255, 255);
}

.filter-container .list-item > .ant-tag-checkable.ant-tag-checkable-checked {
  background-color: #1890ff;
}

.filter-container .ant-col > .ant-btn {
  font-weight: bold;
}
